@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this CSS in your index.css or a separate styles file */
.project-card {
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 255, 0.6);
    animation: blink 1s infinite;
}

/* Blinking animation */
@keyframes blink {
    0% {
        box-shadow: 0 0 15px rgba(0, 0, 255, 0.6);
    }

    50% {
        box-shadow: 0 0 15px rgba(0, 0, 255, 0);
    }

    100% {
        box-shadow: 0 0 15px rgba(0, 0, 255, 0.6);
    }
}